.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(41, 2, 68, 0.4);
}

.modal-box {
    max-width: 560px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 56px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ff64ea;
    border-radius: 16px;
    background-color: #FFFFFF;
    position: absolute;    
    top: 50%;
    left: 50%;
    z-index: 200;
    transform: translate(-50%, -50%);
    
    & .modal-header {
        color: #191919;
        font-family: Inter;
        font-size: 32px;
    }

    & .modal-body {
        color: #7F7F7F;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
    }

    & .modal-close {
        position: absolute;
        top: 20px;
        right: 20px;
        background: transparent;
        border-color: transparent;
        cursor: pointer;
    }
}